Django==5.2.8
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-ratelimit==4.1.0
django-redis==6.0.0
django-crontab==0.7.1
django-celery-beat==2.8.1
django-timezone-field==7.1
ip2geotools==0.1.6
celery==5.5.3
redis==7.0.1
psycopg2-binary==2.9.11
mysqlclient==2.2.7
requests==2.25.1
python-dotenv==1.1.1
pytz==2022.1
